<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auggie.student_server.mapper.CourseTeacherMapper">
    <select id="findBySearch" resultType="CourseTeacher">
        SELECT * FROM studentms.courseteacher
        <where>
            <if test="cid != null">
                cid = #{cid}
            </if>
            <if test="tid != null">
                AND tid = #{tid}
            </if>
            <if test="term != null">
                AND term = #{term}
            </if>
        </where>
    </select>

    <select id="findMyCourse" resultType="Course">
        SELECT course.cid, course.cname, course.ccredit
        FROM studentms.course course INNER JOIN studentms.courseteacher courseteacher ON course.cid = courseteacher.cid
        WHERE courseteacher.tid = #{tid} AND courseteacher.term = #{term}
    </select>

    <select id="findCourseTeacherInfo" resultType="CourseTeacherInfo">
        SELECT course.cid, course.cname, teacher.tid, teacher.tname, course.ccredit
        FROM studentms.course course INNER JOIN studentms.courseteacher courseteacher ON course.cid = courseteacher.cid
        INNER JOIN studentms.teacher ON courseteacher.tid = teacher.tid
        <where>
            <if test="tid != null">
                teacher.tid = #{tid}
            </if>
            <if test="tname != null">
                <if test="tFuzzy == 0">
                    AND teacher.tname = #{tname}
                </if>
                <if test="tFuzzy == 1">
                    AND teacher.tname LIKE CONCAT('%', #{tname}, '%')
                </if>
            </if>
            <if test="cid != null">
                AND course.cid = #{cid}
            </if>
            <if test="cname != null">
                <if test="cFuzzy == 0">
                    AND course.cname = #{cname}
                </if>
                <if test="cFuzzy == 1">
                    AND course.cname LIKE CONCAT('%', #{cname}, '%')
                </if>
            </if>

        </where>
    </select>

    <select id="findCourseTeacherInfoWithTerm" resultType="CourseTeacherInfo">
        SELECT course.cid, course.cname, teacher.tid, teacher.tname, course.ccredit
        FROM studentms.course course INNER JOIN studentms.courseteacher courseteacher ON course.cid = courseteacher.cid
        INNER JOIN studentms.teacher ON courseteacher.tid = teacher.tid
        <where>
            courseteacher.term= '6'
            <if test="tid != null">
                    AND teacher.tid = #{tid}
            </if>
            <if test="tname != null">
                <if test="tFuzzy == 0">
                    AND teacher.tname = #{tname}
                </if>
                <if test="tFuzzy == 1">
                    AND teacher.tname LIKE CONCAT('%', #{tname}, '%')
                </if>
            </if>
            <if test="cid != null">
                AND course.cid = #{cid}
            </if>
            <if test="cname != null">
                <if test="cFuzzy == 0">
                    AND course.cname = #{cname}
                </if>
                <if test="cFuzzy == 1">
                    AND course.cname LIKE CONCAT('%', #{cname}, '%')
                </if>
            </if>

        </where>
    </select>
</mapper>